<div class="row">
<p id="page-top">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">履歴</a></li>
  </div>
      
      <div class="media-body">
        <% @responses.each do |response| %>
          <div class="media">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">
                <%= response.content %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      
    </ul>
    
<%# if false %>
  <%# ページトップボタン %>
    <p id="page-top"><a href="#wrap">PAGE TOP</a></p>
    <script>
      $(function () {
        var showFlag = false;
        var topBtn = $('#page-top');    
        topBtn.css('bottom', '-100px');
        var showFlag = false;
        //スクロールが100に達したらボタン表示
      });
      
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          if (showFlag == false) {
              showFlag = true;
              topBtn.stop().animate({'bottom' : '20px'}, 200); 
          }
        } else {
          if (showFlag) {
              showFlag = false;
              topBtn.stop().animate({'bottom' : '-100px'}, 200); 
          }
        }
      });
      
      //スクロールしてトップ
      topBtn.click(function () {
          $('body,html').animate({
              scrollTop: 0
          }, 500);
          return false;
      });
    </script>
  <%# /ページトップボタン %>
<%# end %>
</div>
