<ul class="media-list">
  <% responses.each_with_index do |response, i| %>
    <li class="media">
      <div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <%= response.restime.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %><br>
            <%= "#{(i + 1)}:"+response.content %>
          </li>
        </ul>
      </div>
    </li>
  <% end %>
  <%= paginate responses %>
</ul>