<div class="row">
  <p id="page-top">
  <div class="center jumbotron">
      <h1>スレッド一覧</h1>
  </div>

  <div class="panel panel-body panel-danger">
    <%= render 'thres/threads', thres: @threads %>
  </div>
    
  <h1><%= link_to 'スレ作成', new_thre_path, class: 'btn btn-primary'%></h1>
  
  <%# if false %>
  <%# ページトップボタン %>
    <p id="page-top"><a href="#wrap">PAGE TOP</a></p>
    <script>
      $(function () {
        var showFlag = false;
        var topBtn = $('#page-top');    
        topBtn.css('bottom', '-100px');
        var showFlag = false;
        //スクロールが100に達したらボタン表示
      });
      
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          if (showFlag == false) {
              showFlag = true;
              topBtn.stop().animate({'bottom' : '20px'}, 200); 
          }
        } else {
          if (showFlag) {
              showFlag = false;
              topBtn.stop().animate({'bottom' : '-100px'}, 200); 
          }
        }
      });
      
      //スクロールしてトップ
      topBtn.click(function () {
          $('body,html').animate({
              scrollTop: 0
          }, 500);
          return false;
      });
    </script>
  <%# /ページトップボタン %>
<%# end %>
</div>
