<div class="row">
  <p>スレッド一覧ページ</p>
</div>

<h1>一覧</h1>


<div class="col-xs-8">
  <%= render 'thres/threads', thres: @threads %>
  
  <h1><%= link_to 'スレ作成', new_thre_path, class: 'btn btn-default'%></h1>
</div>

