<div class="center jumbotron">
  <div class="text-center">
    <h1>スレッド一覧ページ</h1>
  </div>
</div>
<h1><%= link_to 'スレ作成', new_thre_path%></h1>

<div class="col-xs-8">
  <%= render 'thres/threads', thres: @threads %>
</div>

