<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <li><%= link_to 'スレ一覧', thres_path %></li>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the OriginalService</h1>
    </div>
  </div>
<% end %>
